# Virtual Environment
.venv/

# vscode
.vscode/

# Data folder
romansh-data/

# pycache
__pycache__/
*.pyc
*.pyo

# checkpoints
whisper-medium-rm*/

# omnilingual
omnilingual-asr/
omnilingual_romansh/
dataset_*
src/
workflows/

# classifier
idiom_classifier/

# whisper
whisper_asr.egg-info/
whisper_asr.*