# Virtual Environment
.venv/

# vscode
.vscode/

# Data folder
data/raw-data/
data/clean-data/
data/parquet-data/

# pycache
__pycache__/
*.pyc
*.pyo

# checkpoints
whisper-medium-rm*/

# omnilingual
omnilingual-asr/
omnilingual_romansh/
dataset_*
src/
workflows/
omnilingual-ctc-*/
omnilingual-llm-*/

# classifier
idiom_classifier.pkl

# whisper
whisper_asr.egg-info/
whisper_asr.*